   
  .forgetbtn{
    margin-left: 240px;
    border: none;
    background: none;
    color: red;
    font-style: unset;
    margin: 5;
  }
  
  .logbtn{
    width: 100%;
    padding: 15px;
    margin: 20px 0 22px 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: large;
    font-family:"-moz-initial";
  } 
  .logmain{
    padding: 16px;
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
  }
  .labbel{
    color: red;
    font-weight: 500;
    margin-left: 5px;
  }
  .inputtextlogin{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .par{
    color: red;
    margin-top: -15px;
  }
  .viagoogle{
    width: 100%;
    color: black;
    padding: 15px;
    margin: 10px 0 22px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: medium;
  }
  